body,
html {
  height: 100%;
  display: grid;
}

p {
  font-family: 'Rubik', sans-serif;
}

#name {
  font-family: 'Anton', sans-serif;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid red;
  margin: auto;

}